@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
background-color: #111827;
font-family: 'Montserrat', sans-serif;
scroll-behavior: smooth;
}


#bg{
    margin-top: 4em;;

}



#color{
    position: fixed;
    top: 0;
}

#border{
   border-radius: 5%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
 
    transition: 0.5s;
}
#border:hover{
    transform: scale(1.01);
}
#about{
    /* height: 100000px; */
}